spring:
  application:
    name: streaming-service
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: streaming-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
            use:
              type:
                headers: false
            value:
              default:
                type: com.zetflix.streamingservice.event.VideoEncodedEvent

server:
  port: 8084

#AWS 
aws:
  access-key: ${AWS_ACCESS_KEY:your-aws-access-key}
  secret-key: ${AWS_SECRET_KEY:your-aws-secret-key}
  region: ${AWS_REGION:your-aws-region}
  s3:
    bucket-name: ${AWS_BUCKET_NAME:your-s3-bucket-name}
    presigned-url-expiry: 60

management:
  endpoints:
    web:
      exposure:
        include: health, info
