spring:
  application:
    name: content-service
  datasource:
    url: jdbc:mysql://localhost:3306/content_db
    username: your_username       
    password: your_password 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8001

management:
  endpoints:
    web:
      exposure:
        include: health, info