spring:
  application:
    name: encoding-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: encoding-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
            use:
              type:
                headers: false
            value:
              default:
                type: com.zetflix.encodingservice.event.VideoUploadedEvent
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8083

# AWS configuration
aws:
  access-key: ${AWS_ACCESS_KEY:your-aws-access-key}
  secret-key: ${AWS_SECRET_KEY:your-aws-secret-key}
  region: ${AWS_REGION:your-aws-region}
  s3:
    bucket-name: ${AWS_BUCKET_NAME:your-s3-bucket-name}

# FFmpeg Configuration
ffmpeg:
  path: ${FFMPEG_PATH:ffmpeg}

# Temp Dir for encoding
encoding:
  temp-dir: ${TEMP_DIR:your-temp-dir-path}

# Actuator endpoint exposure
management:
  endpoints:
    web:
      exposure:
        include: health, info
